<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>servlet.UploadArquivoServlet</servlet-class>
        <init-param>
            <param-name>diretorio</param-name>
            <param-value>C:\Users\HOME\DocumentsUPLOAD\</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>uploadCli</servlet-name>
        <servlet-class>servlet.UploadCliente</servlet-class>
        <init-param>
            <param-name>diretorio</param-name>
            <param-value>C:\Users\HOME\Documents\UPLOAD\</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>uploadCli</servlet-name>
        <url-pattern>/uploadCli</url-pattern>
    </servlet-mapping>
</web-app>
